mixin printBlockSlider(title,content,img,pageParallax,onSort)
	.slider
		.slider-items
			.slider-img
				div(class="parallax-"+pageParallax)
			.content
				.content-wrap.wow.slideInUp
					h1.content-wrap__title= title
					p.content-wrap__text= content
				.content-preview.wow.slideInDown
					img(src="./img/"+img, alt="Preview")
		.search.animated.slideInRight
			h1 Поиск по странице
			input(type="text", class="search-text form-control", name="search")
	.sort
		.sort-img.animated.slideInLeft
			img(src="./img/3-layers.png", alt="")
		-if(onSort == 1){
		.sort-tabs
			p Сортировать
			button(type="submit" name="new" class="btn-tab active-btn") Популярные
			button(type="submit" name="new" class="btn-tab") Новые
		-}
mixin printPagination(arrayUrl)
	.paginatian
		ul
			-for(var x=0; x<arrayUrl.length; x++){
			-if(x==0){
			li.active
				a(href=""+arrayUrl[x]) 1
			-}
			-else{
			li 
				a(href=""+arrayUrl[x])= x+1
			-}
			-}

	