.article
	.article-headr
		.article-headr__title
			h1 СТАТЬИ
			a(href="#" class="link-st") Все статьи
		.article-headr__list
			button( type="submit" class="btn-add") Добавить статью +
	.article-post
		.post-wrap
				a(href="#")
					.overlay
					.post-title
						.post-title__wrap
							.title-date.color-blue
								.date 02
								.month март
							.title-img
								img(src="./img/p1.png", alt="post-1")
						.post-comments
							h1 709KG
							.post-wrap
								.post-comments__view 
									.count 24
									.icon
								.post-comments__com
									.count 23
									.icon
					.post-content
						h1 Что не так с игровой индустрией?
						p.post-content__italic Я давно порывался написать статью по поводу тенденций в сфере игр и по поводу качества нашей самой большой индустрии. 
						p К 2015 году накопилось некое количество проблем в играх, о которых стоит поговорить. Интересен тот факт, что про эти проблемы знает практически каждый, но при этом никто ничего не делает...
		.post-wrap.w910
				a(href="#")
					.overlay
						.w910-wrap
							.post-title
								.post-title__wrap
									.title-date.color-yellow
										.date 02
										.month март
									.title-img
										img(src="./img/p1.png", alt="post-1")
								.post-comments
									h1 709KG
									.post-wrap
										.post-comments__view 
											.count 24
											.icon
										.post-comments__com
											.count 23
											.icon
							.post-content
								h1 Что не так с игровой индустрией?
								p.post-content__italic Я давно порывался написать статью по поводу тенденций в сфере игр и по поводу качества нашей самой большой индустрии. 
								p К 2015 году накопилось некое количество проблем в играх, о которых стоит поговорить. Интересен тот факт, что про эти проблемы знает практически каждый, но при этом никто ничего не делает...
					.post-pr
						img(src="./img/imgp.png", alt="prew")
		.post-wrap
				a(href="#")
					.overlay
					.post-title
						.post-title__wrap.color-green
							.title-date
								.date 02
								.month март
							.title-img
								img(src="./img/p1.png", alt="post-1")
						.post-comments
							h1 709KG
							.post-wrap
								.post-comments__view 
									.count 24
									.icon
								.post-comments__com
									.count 23
									.icon
					.post-content
						h1 Что не так с игровой индустрией?
						p.post-content__italic Я давно порывался написать статью по поводу тенденций в сфере игр и по поводу качества нашей самой большой индустрии. 
						p К 2015 году накопилось некое количество проблем в играх, о которых стоит поговорить. Интересен тот факт, что про эти проблемы знает практически каждый, но при этом никто ничего не делает...
		.post-wrap.post-wrap__left
				a(href="#")
					.overlay
					.post-title
						.post-title__wrap
							.title-date.color-black
								.date 02
								.month март
							.title-img
								img(src="./img/p1.png", alt="post-1")
						.post-comments
							h1 709KG
							.post-wrap
								.post-comments__view 
									.count 24
									.icon
								.post-comments__com
									.count 23
									.icon
					.post-content
						h1 Что не так с игровой индустрией?
						p.post-content__italic Я давно порывался написать статью по поводу тенденций в сфере игр и по поводу качества нашей самой большой индустрии. 
						p К 2015 году накопилось некое количество проблем в играх, о которых стоит поговорить. Интересен тот факт, что про эти проблемы знает практически каждый, но при этом никто ничего не делает...
		.post-wrap.post-wrap__left
				a(href="#")
					.overlay
					.post-title
						.post-title__wrap
							.title-date.color-greenb
								.date 02
								.month март
							.title-img
								img(src="./img/p1.png", alt="post-1")
						.post-comments
							h1 709KG
							.post-wrap
								.post-comments__view 
									.count 24
									.icon
								.post-comments__com
									.count 23
									.icon
					.post-content
						h1 Что не так с игровой индустрией?
						p.post-content__italic Я давно порывался написать статью по поводу тенденций в сфере игр и по поводу качества нашей самой большой индустрии. 
						p К 2015 году накопилось некое количество проблем в играх, о которых стоит поговорить. Интересен тот факт, что про эти проблемы знает практически каждый, но при этом никто ничего не делает...
