.news
	.news-headr
		.news-headr__title
			h1 новости
			a(href="./category-news.html" class="link-st") Все новости
		.news-headr__list
			select#propertyType.select.form-control.input-lg(form='addProperty', name='propertyType')
				option(value='0', selected) Все новости
				option(value='1') Top
				option(value='2') Новинки
				option(value='3') В разработке
	.news-post
		.w50.h320.news-post__column
			.post
				a(href="./post-news.html" class="link-hover__g")
					.post-img
						img(src="./img/Layer_45.png", alt="")
						.post-shadow
					.post-title
						hr
						p.rect Как инди-студия утерла нос Telltale
		.w25.h320.news-post__column
			.post
				a(href="./post-news.html" class="link-hover__p")
					.post-img
						img(src="./img/Layer_46.png", alt="")
						.post-shadow
					.post-title
						hr
						p Elite: Dangerous в Steam за 3000 р
		.w25.h320.news-post__column
			.post
				a(href="./post-news.html" class="link-hover__g")
					.post-img
						img(src="./img/Layer_47.png", alt="")
						.post-shadow
					.post-title
						hr
						p Русский трейлер ПК-версии GTA V
		.w25.h650.news-post__column
			.post
				a(href="./post-news.html" class="link-hover__p")
					.post-img.h53
						img(src="./img/Layer_50.png", alt="")
						.post-shadow
					.post-title.h50.post-title__bg
						hr
						h1
							b Diablo 3 
							| с видом от третьего лица
						p Если вы когда-либо задавались вопросом, как бы выглядела Diablo 3 с видом от третьего лица, то вашим теоретическим изысканиям настал конец. 
		.w25.h650.news-post__column
			.post
				a(href="./post-news.html" class="link-hover__g")
					.post-img
						img(src="./img/Layer_51.png", alt="")
						.post-shadow
					.post-title
						hr
						p Карточный домик продлили до 4-го сезона!
		.w50.h650.news-post__column
			.post.h325
				a(href="./post-news.html" class="link-hover__p")
					.post-img.w50
						img(src="./img/Layer_48.png", alt="")
						.post-shadow
					.post-title.w50.post-title__bg
						hr
						h1 
							b Гейб 
							| - новый босс в Crawl
						p Crawl —  онлайновый слэшер для ПК, в котором игроки по очереди играют за героя и всех монстров в лабиринте.
			.post.h325
				a(href="./post-news.html" class="link-hover__g")
					.post-img
						img(src="./img/Layer_49.png", alt="")
						.post-shadow
					.post-title
						hr
						p Это то, зачем нужны игры: мы спасли 350 сирийских детей
				
	.news-btn
		button(type="submit", class="news-load") Подгрузить еще
