.news
	.news-headr
		.news-headr__title
			h1 новости
			a(href="#" class="news-link") Все новости
		.news-headr__list
			select#propertyType.select.form-control.input-lg(form='addProperty', name='propertyType')
				option(value='0', selected) Все новости
				option(value='1') Top
				option(value='2') Новинки
				option(value='3') В разработке
	.news-post
			.w50.news-post__column
				.post
					.post-img
						img(src="", alt="")
					.post-title
						hr
						p dfdfdfdfd
			.w25.news-post__column
				.post
					.post-img
						img(src="", alt="")
					.post-title
						hr
						p dfdfdfdfd
			.w25.news-post__column
				.post
					.post-img
						img(src="", alt="")
					.post-title
						hr
						p dfdfdfdfd
			.w25.news-post__column
				.post
					.post-img
						img(src="", alt="")
					.post-title
						hr
						p dfdfdfdfd
			.w25.news-post__column
				.post
					.post-img
						img(src="", alt="")
					.post-title
						hr
						p dfdfdfdfd
			.w50.news-post__column
				.post
					.post-img
						img(src="", alt="")
					.post-title
						hr
						p dfdfdfdfd
