.slider
	.slider-items
		.slider-img
			img(src="./img/Layer_39.png", alt="sl")
		.content
			.content-wrap
				h1.content-wrap__title Ненавязчивый анализ Mirror’s Edge
				p.content-wrap__text
					| Ещё совсем недавно осень считалась главным
					| поставщиком крупных игровых релизов. Полки
					| магазинов ломились от новинок, а от 
					| покупателей не было отбоя. Доходило до того,
					| что к концу сезона кошельки походили на выпотрошенные туши.
			.content-preview
				img(src="./img/Preview.png", alt="Preview")
	.search.animated.slideInRight
		h1 Поиск по странице
		input(type="text", class="search-text form-control", name="search")
.sort
	.sort-img
		img(src="./img/3-layers.png", alt="")
	.sort-tabs
		p Сортировать
		button(type="submit" name="new" class="btn-tab active-btn") Популярные
		button(type="submit" name="new" class="btn-tab") Новые