.video
	.video-left-bg
	.video-wrap
		.video-headr
			.video-headr__title
				h1 ТРЕЙЛЕРЫ
				a(href="#", class="link-st") Весь каталог
			.video-slider
				.video-slider__dot
					.dot.dot_active
					.dot
					.dot
				.video-slider__btn
					button( type="submit", class="prev-btn")
						include ../../../img/svg/back.svg
					button( type="submit", class="next-btn")
						include ../../../img/svg/right-arrow.svg
		.video-post.animated.slideInDown
			.post-wrap
				a(href="#", class="playvideo")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g6.png")
					.post-content
						h1 1Not A Hero. Геймплейный трейлер
						p Жанр: Action, Pixel
			.post-wrap
				a(href="#" class="playvideo")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g6.png")
					.post-content
						h1 FRed Dead Redemption: Золото Сэта 
						p Жанр: Action
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g4.png")
					.post-content
						h1 Видеодайджест от AM4 Выпуск #211
						p Жанр: Action, Pixel
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g2.png")
					.post-content
						h1 The Order: 1886 - Новый трейлер
						p Жанр: Action
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g3.png")
					.post-content
						h1 FineSweeper. Демонстрация игрового процесса
						p Жанр: Action, RPG
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g5.png")
					.post-content
						h1 Топ 10 лучший сюжет в играх
						p Жанр: Action
		.video-post.animated.none
			.post-wrap
				a(href="#", class="playvideo")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g6.png")
					.post-content
						h1 2Not A Hero. Геймплейный трейлер
						p Жанр: Action, Pixel
			.post-wrap
				a(href="#" class="playvideo")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g6.png")
					.post-content
						h1 FRed Dead Redemption: Золото Сэта 
						p Жанр: Action
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g4.png")
					.post-content
						h1 Видеодайджест от AM4 Выпуск #211
						p Жанр: Action, Pixel
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g2.png")
					.post-content
						h1 The Order: 1886 - Новый трейлер
						p Жанр: Action
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g3.png")
					.post-content
						h1 FineSweeper. Демонстрация игрового процесса
						p Жанр: Action, RPG
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g5.png")
					.post-content
						h1 Топ 10 лучший сюжет в играх
						p Жанр: Action
		.video-post.animated.none
			.post-wrap
				a(href="#", class="playvideo")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g6.png")
					.post-content
						h1 Not A Hero. Геймплейный трейлер
						p Жанр: Action, Pixel
			.post-wrap
				a(href="#" class="playvideo")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g6.png")
					.post-content
						h1 FRed Dead Redemption: Золото Сэта 
						p Жанр: Action
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g4.png")
					.post-content
						h1 Видеодайджест от AM4 Выпуск #211
						p Жанр: Action, Pixel
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g2.png")
					.post-content
						h1 The Order: 1886 - Новый трейлер
						p Жанр: Action
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g3.png")
					.post-content
						h1 FineSweeper. Демонстрация игрового процесса
						p Жанр: Action, RPG
			.post-wrap
				a(href="#")
					.post-img
						.play
							include ../../../img/svg/play-button.svg
						img(src="./img/g5.png")
					.post-content
						h1 Топ 10 лучший сюжет в играх
						p Жанр: Action			