h1 Рейтинг
.vote
	.star-wrap
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="far fa-star fa-4x")
		i(class="far fa-star fa-4x")
	.progress
		.progress-bar
			.proc
		.progress-text Оценило людей:
			span(class="count") 2
			| /средняя оценка 
			span(class="pr") 98%
			