h1 Рейтинг пользователей
.vote
	.star-wrap
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="fas fa-star fa-4x")
		i(class="far fa-star fa-4x")
		i(class="far fa-star fa-4x")
	.progress
		.progress-bar
			div(class="proc", data-skill="100%")
		.progress-text Оценило людей: &nbsp
			span(class="count") 2 
			| &nbsp средняя оценка &nbsp
			span(class="pr") 98%
			