doctype html
html(lang="ru-Ru")
	head
		title='OST'
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1" )
		meta(name="GENERATOR", content="Microsoft FrontPage 4.0")
		meta(name="ProgId", content="FrontPage.Editor.Document")
		link(rel="shortcut icon", href="./icon.ico")
		link(rel='stylesheet', href='./css/flex.css')
		link(rel='stylesheet', href='./css/animate.min.css')
		link(rel='stylesheet', href='./css/main.css')
		link( rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
		link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Nunito", rel="stylesheet")
	body
		include ../layout/header.pug
		-var title = "Ненавязчивый анализ Mirror’s Edge",content="Ещё совсем недавно осень считалась главным \nпоставщиком крупных игровых релизов. Полки\nмагазинов ломились от новинок, а от \nпокупателей не было отбоя. Доходило до того,\nчто к концу сезона кошельки походили на выпотрошенные туши.",img="Preview.png",pageParallax="audio",onSort=0;
		include ./include/slider
		include ./include/forms
		.video
			div(class="video-wrap ost_pd")
				.video-headr
					.video-headr__title
						h1 OST
				.video-post.animated.slideInDown
					.post-wrap
						a(href="./single-audio.html", class="playvideo")
							.post-img
								.play
									include ../../img/svg/musical-note.svg
								img(src="./img/Dark_Souls_Remastered.jpg")
							.post-content
								h1 Dark Souls - OST
								p Жанр: Action/RPG
		-var arrayUrl = ["404.html","404.html","404.html"]
		include ./include/pagination	
		include ../layout/footer.pug

		script(src="./js/libs.min.js")
		script(src="./js/main.js")
		script(src="./js/search.js")
		script(src="./js/slider.js")
		script(src="./js/send-msg.js")
		script(src="./js/parallax.min.js")
		script(src="./js/parralaxMy.js")