doctype html
html(lang="ru-Ru")
	head
		title='Видео'
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1" )
		meta(name="GENERATOR", content="Microsoft FrontPage 4.0")
		meta(name="ProgId", content="FrontPage.Editor.Document")
		link(rel="shortcut icon", href="./icon.ico")
		link(rel='stylesheet', href='./css/flex.css')
		link(rel='stylesheet', href='./css/animate.min.css')
		link(rel='stylesheet', href='./css/main.css')
		link( rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
		link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Nunito", rel="stylesheet")
	body
		include ../layout/header.pug
		-var title = "Ненавязчивый анализ Mirror’s Edge",content="Ещё совсем недавно осень считалась главным \nпоставщиком крупных игровых релизов. Полки\nмагазинов ломились от новинок, а от \nпокупателей не было отбоя. Доходило до того,\nчто к концу сезона кошельки походили на выпотрошенные туши.",img="Preview.png",pageParallax="video",onSort=0;
		include ./include/slider
		include ./include/forms
		.video
			div(class="video-left-bg", style="margin-bottom: -43px;")
			.video-wrap
				.video-headr
					.video-headr__title
						h1 Видео
				.video-post.animated.slideInDown
					.post-wrap
						a(href="#", class="playvideo")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g6.png", alt="")
							.post-content
								h1 1Not A Hero. Геймплейный трейлер
								p Жанр: Action, Pixel
					.post-wrap
						a(href="#" class="playvideo")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g6.png", alt="")
							.post-content
								h1 FRed Dead Redemption: Золото Сэта 
								p Жанр: Action
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g4.png", alt="")
							.post-content
								h1 Видеодайджест от AM4 Выпуск #211
								p Жанр: Action, Pixel
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g2.png", alt="")
							.post-content
								h1 The Order: 1886 - Новый трейлер
								p Жанр: Action
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g3.png", alt="")
							.post-content
								h1 FineSweeper. Демонстрация игрового процесса
								p Жанр: Action, RPG
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g5.png", alt="")
							.post-content
								h1 Топ 10 лучший сюжет в играх
								p Жанр: Action
					.post-wrap
						a(href="#", class="playvideo")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g6.png", alt="")
							.post-content
								h1 1Not A Hero. Геймплейный трейлер
								p Жанр: Action, Pixel
					.post-wrap
						a(href="#" class="playvideo")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g6.png", alt="")
							.post-content
								h1 FRed Dead Redemption: Золото Сэта 
								p Жанр: Action
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g4.png", alt="")
							.post-content
								h1 Видеодайджест от AM4 Выпуск #211
								p Жанр: Action, Pixel
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g2.png", alt="")
							.post-content
								h1 The Order: 1886 - Новый трейлер
								p Жанр: Action
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g3.png", alt="")
							.post-content
								h1 FineSweeper. Демонстрация игрового процесса
								p Жанр: Action, RPG
					.post-wrap
						a(href="#")
							.post-img
								.play
									include ../../img/svg/play-button.svg
								img(src="./img/g5.png", alt="")
							.post-content
								h1 Топ 10 лучший сюжет в играх
								p Жанр: Action
		-var arrayUrl = ["404.html","404.html","404.html"]
		include ./include/pagination	
		include ../layout/footer.pug

		script(src="./js/libs.min.js")
		script(src="./js/main.js")
		script(src="./js/search.js")
		script(src="./js/slider.js")
		script(src="./js/send-msg.js")
		script(src="./js/parallax.min.js")
		script(src="./js/parralaxMy.js")