doctype html
html(lang="ru-Ru")
	head
		title='AM4'
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1" )
		meta(name="GENERATOR", content="Microsoft FrontPage 4.0")
		meta(name="ProgId", content="FrontPage.Editor.Document")
		link(rel="shortcut icon", href="./icon.ico")
		link(rel='stylesheet', href='./css/flex.css')
		link(rel='stylesheet', href='./css/phone.css')
		link( rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
	body
		header
			.logo
				img(src="./img/logo.png", alt="logo")
			a(href="index.html") Главная
		.container
			.title
				h1 Мобильная версия сайта в разработке 	
			.info-text 
				img(src="./img/mob.gif", alt="mob") 
				p Попробуйте зайти с устройство, с другим разрешения экрана 

		include ../layout/footer.pug