@media screen and (max-width: 600px)
	.form_icon
		width: 10px;
		height: 10px;
		display: none;
	.input input, .input textarea
		font-size: 18px;
	.input input
		height: 48px;
	.form_icon img
		width: 100%;
		height: 80%;
	#right_form .input textarea
		resize: none;
		height: 150px;
	#left_form button, #right_form button
		font-size: 18px;
		height: 44px;
	header
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		margin: 0;
	footer .footer-wrap .column-left
		width: 100%;
	footer .footer-wrap_bg
		padding-left: 0;
		padding-right: 0;
	footer .footer-wrap .column-left .content-text
		width: 100%;
	footer .footer-wrap .column-left .content .svg-wrap
		width: 30px;
		height: 30px;
		left: 0;
	.comments .block-left>.paginatian ul li
		margin: 0;
	.paginatian ul li
		width: 28%;
	header .menu-end__left, header .menu-end__right, header .menu-start__left, header .menu-start__right
		align-items: flex-start;
	footer .footer-wrap .column-left .content-text p
		padding-right: 50px
	.container_pd110
		padding-left: 32px;
		padding-right: 32px;
	header .menu-items .submenu
		top: 0;
		left: 0;
