@media screen and (max-width: 996px)
	header .menu-end__left, header .menu-end__right, header .menu-start__left, header .menu-start__right
		flex-flow: column nowrap;
		align-items: flex-end;
	.search h1
		font-size: 25px;
	header .menu-end__left a, header .menu-start__left a
		font-size: 30px;
	header .menu-items
		padding-left: 14px;
		font-size: 30px;
	header .menu-items
		padding: 16px;
	header .menu-items .submenu
		position: absolute;
		top: 27%;
		left: -355px;
		width: auto;
		z-index: 10;
		-webkit-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		background: #29abcd;
		padding-left: 0;
		list-style: none;
		color: #fff;
		-webkit-border-radius: 5px 51px 5px 67px;
		border-radius: 51px 5px 67px 5px;
	header .menu-items .submenu-items:hover
		background: #f2ca5b;
		-webkit-border-radius: 5px 51px 5px 67px;
		border-radius: 51px 5px 67px 5px;
	.search
		width: 80%;
	.search input
		height: 33%;
		font-size: 2rem;
	header .menu-start__left,header .menu-end
			display: none
	header
		margin-left: 110px;
		margin-right: 110px;
		padding-left: 0
		padding-right: 0
		display: flex;
		margin-top: 7px;
		margin-bottom: 11px;
		flex-direction: row;
	.btn-menu
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	footer::before
		top: 92px;
		display: none
	.article, .news 
		margin-left: 20px;
		margin-right: 20px;
	.game .game-wrap, .game .video-wrap, .video .game-wrap, .video .video-wrap
		padding-right: 38px;
	.game-post .post-img
		padding-top: 24px;
		padding-left: 10px;
	.link-st
		font-size: 21px	
	.game .game-slider__dot, .game .video-slider__dot, .video .game-slider__dot, .video .video-slider__dot
		margin-left: 4vw
	.video-post .post-wrap a h1
		font-size: 22px;
		overflow: auto;
		height: auto;
	.video-post .post-wrap a p
		font-size: 21px;
	footer .footer-wrap_bg
		padding-left: 32px;
		padding-right: 0;
	.slider .slider-items .content-preview
		display: none
	.sort .sort-tabs
		margin-right: 10px;
	.sort .sort-tabs button
		margin-left: 13px;
		width: 184px
	.slider .slider-items .content-wrap
		left: -2.3%;
		top: 138px;






















