footer
	.footer-wrap.footer-wrap_bg
		.column
			.column-left
				.content
					.svg-wrap
						include ../../img/svg/running.svg
					.icons-social
						a(href="google.com", class="link_bg-red")
							i.fab.fa-google-plus-g
						a(href="twitter.com", class="link_bg-opblue")
							i.fab.fa-twitter
						a(href="facebook.com", class="link_bg-blue")
							i.fab.fa-facebook-f
						a(href="vk.com", class="link_bg-pink")
							i.fab.fa-pinterest-p
						a(href="vk.com", class="link_bg-green")
							i.fab.fa-vk
					.content-text
						h1 Немного о нашем сайте
						p 
							| AM4  — это большая коллекция игровой информации, помогающей геймерам со всего мира быть в курсе последних новостей игровой индустрии. Дальше не знаю, что писать... 
							br
							| В общем, надеюсь макет вам понравится. 
					button( type="submit" class="btn-send view-form") Написать нам
			.column-right
				.age-limit +18
				.copyright
					p
						b Copyright © 2001-2014
						br
						| Все права защищены законодательством РФ. Использование материалов сайта возможно только с прямой ссылкой на источник.
				.discl
					img(src="./img/disc.png", alt="disc")
					img(src="./img/disc2.png", alt="disc1")