// исправить название класса .paginatian -> .pagination
header
	nav.menu
		.menu-start
			.menu-logo.animated.flipInX
				img(src="./img/Logo.png", alt="", class="menu-logo_wh")
			ul.menu-start__left
				li.menu-items 
					a(href="./category-news.html" class="menu-link") Новости
				li.menu-items  Игры 
					i.fa.fa-angle-down
					ul.submenu
						li.submenu-items 
							a(href="./category-game.html") 
								i.fas.fa-globe-americas 
								| RPG
						li.submenu-items
							a(href="404.html") 
								i.fas.fa-dice-five 
								| Настольные
						li.submenu-items 
							a(href="404.html") 
								i.fab.fa-phoenix-framework 
								| Fighting
						li.submenu-items
							a(href="404.html") 
								i.fas.fa-globe 
								| Onlain
				li.menu-items Статьи
					i.fa.fa-angle-down
					ul.submenu
						li.submenu-items 
							a(href="./category-article.html") 
								i.fab.fa-neos
								| Новые
						li.submenu-items
							a(href="404.html") 
								i.fas.fa-crown 
								| Top 10
						li.submenu-items 
							a(href="404.html") 
								i.fas.fa-fire
								| Популярные
				li.menu-items 
					a(href="./category-video.html" class="menu-link") Видео
				li.menu-items 
					a(href="./category-audio.html" class="menu-link") OST
				li.menu-items
					button( type="submit", class="search-btn")
						i.fas.fa-search.fa-2x
		.menu-end
			ul.menu-end__right
				li.menu-items
					a(href="#", data-in="aunt" , class="menu-link login view-form") вход
				li.menu-items
					a(href="#", data-in="reg" , class="menu-link register view-form") регистрация
	.btn-menu
		button(class="cmn-toggle-switch cmn-toggle-switch__htx")
			span toggle menu



