header
	nav.menu
		.menu-start
			.menu-logo
				img(src="./img/Logo.png", alt="", class="menu-logo_wh")
			ul.menu-start__left
				li.menu-items 
					a(href="#" class="menu-link") Новости
				li.menu-items 
					a(href="#" class="menu-link") Игры
				li.menu-items 
					a(href="#" class="menu-link") Статьи
				li.menu-items 
					a(href="#" class="menu-link") Видео
				li.menu-items 
					a(href="#" class="menu-link") Еще
				li.menu-items.search
					.search-wrap
						i
		.menu-end
			ul.menu-end__right
				li.menu-items
					a(href="#" class="menu-link") вход
				li.menu-items
					a(href="#" class="menu-link") регистрация


