header
	nav.menu
		.menu-start
			.menu-logo
				img(src="./img/Logo.png", alt="", class="menu-logo_wh")
			ul.menu-start__left
				li.menu-items 
					a(href="#" class="menu-link") Новости
				li.menu-items  Игры 
					i.fa.fa-angle-down
					ul.submenu
						li.submenu-items 
							a(href="404.html") 
								i.fas.fa-globe-americas 
								| RPG
						li.submenu-items
							a(href="404.html") 
								i.fas.fa-dice-five 
								| Настольные
						li.submenu-items 
							a(href="404.html") 
								i.fab.fa-phoenix-framework 
								| Fighting
						li.submenu-items
							a(href="404.html") 
								i.fas.fa-globe 
								| Onlain
				li.menu-items Статьи
					i.fa.fa-angle-down
					ul.submenu
						li.submenu-items 
							a(href="404.html") 
								i.fab.fa-neos
								| Новые
						li.submenu-items
							a(href="404.html") 
								i.fas.fa-crown 
								| Top 10
						li.submenu-items 
							a(href="404.html") 
								i.fas.fa-fire
								| Популярные
				li.menu-items 
					a(href="#" class="menu-link") Видео
				li.menu-items 
					a(href="#" class="menu-link") Еще
				li.menu-items.search
					.search-wrap
						i
		.menu-end
			ul.menu-end__right
				li.menu-items
					a(href="#" class="menu-link") вход
				li.menu-items
					a(href="#" class="menu-link") регистрация


