.news, .game, .video, .article,.audio
	margin-left: 110px
	margin-right: 110px	
	.news-headr, .game-headr, .video-headr, .article-headr,.audio-headr
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		flex-flow: row nowrap;
		border-bottom: 5px solid #f7f7f7
		.news-headr__title, .game-headr__title, .video-headr__title, .article-headr__title,.audio-headr__title
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-flow: row nowrap;
			align-items: center;
			padding-bottom: 6px;
			h1
				color: #272727;
				font-family: "open-sans-extra-bold";
				font-size: 40px;
				font-weight: 400;
				line-height: 24px;
				margin: 0 0 0 38px;
.game, .video, .audio
	margin-left: 0
	margin-right: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: row nowrap
	.game-left-bg, .video-left-bg
		height: auto;
		width: 5%;
		background-size: 100% 100%;
		background-repeat: no-repeat;	
	.game-wrap, .video-wrap, .audio-wrap
		width: 95%
		padding-left: 38px
		padding-right: 110px
		position: relative;
		overflow: hidden;
	.game-headr, .video-headr, .audio-headr
		border-bottom: none!important
		padding-top: 52px
		padding-bottom: 68px
	.game-slider, .video-slider
		display: flex;
		align-items: center;
		width: 65%;
		justify-content: space-between;
		&__btn .prev-btn, &__btn .next-btn
			width: 60px;
			height: 60px;
			border: none
			svg
				width: 100%
				height: 100%
				fill:  #ffffff
		&__dot
			margin-left: 9vw;
	.game-post, .video-post, .audio-post
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-flow: row wrap
		.post
			&-wrap
				width: 50%
				display: flex;
				flex-flow: row nowrap;

.game .game-post, .article .article-post, .audio-post
	.post
		&-comments
			&__view, &__com
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center;
				.icon
					width: 12px;
					height: 12px;
					margin-left: 6px
				.count
					font-family: 'Nunito', sans-serif;
					font-size: 14px;
					font-weight: 400;
					text-transform: uppercase;
			&__view
				.icon
					background: url("../img/rocket.png")
					background-repeat: no-repeat
			&__com
				margin-left: 24px
				.icon
					background: url("../img/comment.png")
					background-repeat: no-repeat

.news-load
	text-align: center;
	margin: 0 auto;
	color: #272727;
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	background: #ffffff
	border: 3px solid #30b5d8
		radius: 43px
	width: 350px;
	height: 60px;
	margin-bottom: 80px;
	margin-top: 80px;
	position: relative;
	z-index: 6;
	&:hover
		background: #30b5d8
		color: #ffffff