.slider
	.slider-items
		.slider-img
			img(src="./img/Layer_39.png", alt="sl")
			.content-img
				.content-wrap
					h1.content-wrap__title fgfgf
					p.content-wrap__text gfgfgf
				.content-preview
					img(src="./img/Preview.png", alt="Preview")